@model IEnumerable<PAP_Fabio.Models.Bar>

@{
    ViewData["Title"] = "Lista de Compras no Bar";
}

<p>&nbsp</p>

<div class="text-center">
    <form asp-action="ListaBar" method="get">
        <div class="row">
            <div class="col-md-4 page-header">
                <h4>Compras (Bar) de @ViewData["nome"]</h4>
                <p>&nbsp</p>
            </div>
            <div class="input-group col-md-8">
                <input type="text" style="height: auto" class="form-control" placeholder="Pesquisar" id="txtFiltro" name="filter" value="@ViewData["filter"]" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"> <i class="fa fa-search"></i> Procurar</button>
                    <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = '/Bar/ListaBar/@int.Parse(this.User.Claims.First().Value)'"> <i class="fa fa-backspace"></i> Limpar</button>

                </div>

            </div>

        </div>
        <p>&nbsp</p>
    </form>



    <table class="table table-hover">
        <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Preco</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeProd</td>
                <td>@item.Data.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@item.Preco</td>
                <td>
                <td>

                    <button type="button" onclick="ConfirmarApagar(@item.ID)" class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-trash float-left" style="margin-top:5px" data-toggle="modal" data-target="#exampleModal"></i>
                    </button>

                </td>
            </tr>

        }
    </table>



</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar Compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja apagar esta compra?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" onclick="ApagarBar()" class="btn btn-primary">Apagar</button>
            </div>
        </div>
    </div>
</div>

<input type="text" id="id_compra_bar" hidden>

<script>function filtro() {
        var filter = document.getElementById("txtFiltro").value;

        window.location.href = "/Bar?filter=" + filter;
    }

    function ApagarBar() {
        $.ajax({
            type: "POST",
            url: "/Bar/Apagar/" + document.getElementById("id_compra_bar").value,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });

    }
    function ConfirmarApagar(id) {
        document.getElementById("id_compra_bar").value = id;
    }</script>

